extends layout.pug

block content

  section.section-padding
    .container
      .row.justify-content-center
        .col-10
          h1.text-center Добро пожаловать на сайт "Распаковка"! <br/><br/>
          h5 Мы занимаемся продажей высококачественной электротехники от ведущих мировых производителей по доступным ценам. Наша команда профессионалов всегда готова помочь вам выбрать правильный продукт, а также предоставить бесплатную консультацию и техническую поддержку. Мы стремимся обеспечить нашим клиентам высокое качество обслуживания, быструю доставку и удобные условия оплаты. Наши продукты включают в себя электроинструменты, бытовую технику, электронику, компьютеры и многое другое.
            <br/><br/>
          h3.text-center Наши клиенты выбирают нас, потому что:

  section.section-padding
    .container
      .row
        .col-4.diagramm-row
          h3 Продажи:
          p(style="margin-top: 20px") Статистика по продажам является важным инструментом для оценки эффективности бизнеса и принятия решений о стратегическом планировании. Она позволяет анализировать объем продаж, изменения в продажах по времени, тенденции покупательского поведения и другие факторы, которые могут влиять на успех компании. С помощью статистики по продажам можно выявить сильные и слабые стороны бизнеса и определить направления для дальнейшего развития. Важно использовать надежные данные и правильно интерпретировать статистику, чтобы принимать обоснованные решения, направленные на увеличение прибыли и укрепление позиций на рынке.
        .col-8
          .diagramm
            img.img-fluid(src="img/chart.png" alt="diagramm")
      .row.diagramm-row
        .col-4
          h3 Цены товаров:
          p(style="margin-top: 20px") Статистика по цене товара является важным инструментом для бизнеса, позволяющим оценить эффективность стратегии ценообразования и принять обоснованные решения в этой области. Она позволяет анализировать ценовую динамику, сравнивать цены на товары с конкурентами и оценивать влияние изменения цен на объем продаж. Кроме того, статистика по цене товара может помочь выявить проблемы с ценообразованием и неэффективное использование ресурсов. Важно использовать надежные данные и правильно интерпретировать статистику, чтобы принимать обоснованные решения, направленные на увеличение прибыли и укрепление позиций на рынке.
        .col-8
          .diagramm
            img.img-fluid(src="img/chart.png" alt="diagramm")
      .row.diagramm-row
        .col-4
          h3 Опыт сотрудников:
          p(style="margin-top: 20px") Статистика по отзывам сотрудникам является важным инструментом для оценки качества работы компании и удовлетворенности сотрудников. Она позволяет измерить уровень удовлетворенности сотрудников, выявить проблемные места в организации и принять меры по их улучшению. Статистика по отзывам сотрудникам может также помочь компании привлечь и удерживать талантливых сотрудников, повышая престиж бренда и улучшая работу коллектива в целом. Важно использовать надежные методы сбора и анализа данных, чтобы получить достоверную статистику, а также принимать активные меры по улучшению условий работы и удовлетворенности сотрудников.
        .col-8
          .diagramm
            img.img-fluid(src="img/chart.png" alt="diagramm")
