extends layout.pug

block content

  section.section-padding
    .container
      .row.justify-content-center
        .col-10
          h1.text-center Добро пожаловать на сайт "Распаковка"! <br/><br/>
          h5 Мы занимаемся продажей высококачественной электротехники от ведущих мировых производителей по доступным ценам. Наша команда профессионалов всегда готова помочь вам выбрать правильный продукт, а также предоставить бесплатную консультацию и техническую поддержку. Мы стремимся обеспечить нашим клиентам высокое качество обслуживания, быструю доставку и удобные условия оплаты. Наши продукты включают в себя электроинструменты, бытовую технику, электронику, компьютеры и многое другое.
            <br/><br/>
          h3.text-center Наши клиенты выбирают нас, потому что:

  section.section-padding
    .container
      .row
        .col-4
          h3 Продажи:
          p(style="margin-top: 20px") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate itaque eveniet omnis! Iure et nostrum veniam obcaecati ipsam saepe delectus libero, nihil officia id unde optio est, doloribus dolore quas!
        .col-8
          .diagramm
            img.img-fluid(src="img/chart.png" alt="diagramm")
      .row.diagramm-row
        .col-4
          h3 Цены товаров:
          p(style="margin-top: 20px") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate itaque eveniet omnis! Iure et nostrum veniam obcaecati ipsam saepe delectus libero, nihil officia id unde optio est, doloribus dolore quas!
        .col-8
          .diagramm
            img.img-fluid(src="img/chart.png" alt="diagramm")
      .row.diagramm-row
        .col-4
          h3 Опыт сотрудников:
          p(style="margin-top: 20px") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate itaque eveniet omnis! Iure et nostrum veniam obcaecati ipsam saepe delectus libero, nihil officia id unde optio est, doloribus dolore quas!
        .col-8
          .diagramm
            img.img-fluid(src="img/chart.png" alt="diagramm")
